       body{
       background-image: url(img/b.jpg);
       height: 100%;
       width: 100%;
       background-repeat: no-repeat;
       background-size: 100%;
       background-size: cover;
       }
       nav{
        opacity: 0.8;
        background-color: aqua;
       }
       #para{
        text-align:right;
        color: black;
        text-align: center;
        font-size: 52px;
        padding:0.1rem;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
       }
      
       .container{
        
        /*display:flex;
        flex-direction: column;*/
        height: 200px;
        width: 500px;
        /*border: 1px solid black;*/
        align-items: center;
        margin-top: 200px;
        margin-bottom: 200px;
        text-align: right;
        opacity: 0.6;
       }
       #logo{
        font-size: 30px;
        color: black;
       }
       a{
        font-weight: bold;
        color: black;
       }
       h3{
        color: black;
        text-align: center;
        
       }
       @media only screen and (max-width:800px){
              *{
                     width : 100%;
                     height: 100%;
              }
       }